@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.flipbook {
  width: 850px;
  height: 600px;
  position: relative;
}

.flipbook .page {
  background-image: url(/public/images/arcbord.jpg);
  background-repeat: no-repeat, repeat;

  background-position: center;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.page img {
  height: 93%;
  object-fit: cover;
  margin: auto;
}

.flipbook .cover {
  background-image: none;
}

.flipbook .cover img {
  width: 85%;
  position: absolute;
  right: 0;
  overflow: visible;
}
